{{!-- aca colocaremos la navegacion de mi pagina--}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Favorites Links</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
            <li class="nav-item active">
              <a class="nav-link" href="/links">All Links <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links/add">Add a Links</a>
            </li>
            <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
            {{else}}{{!-- este else es por si no se a logeado muestra estos enlases--}}
              <li class="nav-item">
                <a href="/signin" class="nav-link">Signin</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="nav-link">Signup</a>
              </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>